@import '../../css-config/mixins.scss';
.logoDiv {
      
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    .logoImg {
      height: 60px;

     
    }

    .logoTitle{
      width: 200px;
      @include sm{
        display: none;
      }
    }
  }